<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

   <!-- enable use-expressions --> 
	<http auto-config="true" use-expressions="true">
 		
 		<intercept-url pattern="/reciept/newReciept" access="isAuthenticated()" />
 		<intercept-url pattern="/reciept/myReciepts" access="isAuthenticated()" />
 		<intercept-url pattern="/welcome" access="isAuthenticated()" />
		<intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/upload" access="isAuthenticated()" />
 
		<!-- access denied page -->
		<access-denied-handler error-page="/403" /> 
 
		<form-login 
		    login-page="/login" 
		    default-target-url="/reciept/allReciepts" 
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password" />
			
		<logout logout-success-url="/login?logout"/>
	</http>

<!-- <authentication-manager  alias="authenticationManager">
	    <authentication-provider>
	        <user-service>
	            <user name="goha" password="123" authorities="ROLE_ADMIN" />
	            <user name="jansar" password="123" authorities="ROLE_ADMIN" />
	        </user-service>
	    </authentication-provider>
	</authentication-manager>


	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password, enabled from users where 
		username=?"
				authorities-by-username-query="select username, role from user_roles 
		where username =? " />
		</authentication-provider>
	</authentication-manager> -->
	
	<authentication-manager alias="authenticationManager">
        <authentication-provider ref="customAuthenticationProvider" />
    </authentication-manager>

</beans:beans>