<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="templates/layout">

<head>
<title>Login page</title>

<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
<script src="resources/js/jquery.min.js"></script>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sign In</h3>
			</div>
			<div class="panel-body">
				<form role="form" th:action="@{/j_spring_security_check}" method="POST">
					<fieldset>
						<div class="form-group">
							<input class="form-control" placeholder="UserName" name="username"
								type="username" autofocus=""/>
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Password"
								name="password" type="password" value=""/>
						</div>
						<div class="checkbox">
							<label> <input name="remember" type="checkbox"
								value="Remember Me"/>Remember Me
							</label>
						</div>
						<input type="submit" value="Log in" class="btn btn-sm btn-success"/>

						<div th:if="${error}!=''">
							<label class="alert alert-warning" th:text="${error}">Error</label>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>